<div class='top_image'>
  <h2 class='top_title'>
    IMANOMU<br>
  </h2>
  <h4 class='top_column'>
    もう居酒屋を探すのに時間を使うのをやめませんか？
  </h4>
</div>
<section class='section1'>
  <h3>週末に食事に出掛けたらどこも一杯で</h3>
  <h3>なかなかお店が見つからない。。。</h3>
  <h5 class='how_use1'>
    このアプリを使えばお店の空席状況をリアルタイムに確認することができます。<br>
    気になるお店を選択して空席状況を確認しましょう！
  </h5>
</section>
<%= form_tag('/owner_show', :method => 'get') do%>
  <%= text_field_tag :password %>
  <%= submit_tag %>
<% end %>
<%= link_to 'Index', shops_path %>