/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require_tree .
 *= require_self
 */
@import 'bootstrap';

.all_tables {
  margin: 0 auto;
  margin-top: 50px;
  width: 80%;
  height: auto;
}
/* 鳥屋 */
#toriya1,#toriya2,#toriya3,#toriya4,#toriya5,#toriya6  {
  width: 12%;
  height: 60px;
  margin: 30px;
  float: left;
}
#toriya7 {
  width: 200px;
  height: 90px;
  margin: 30px;
  float: left;
}
#toriya8 {
  width: 100px;
  height: 60px;
  margin: 30px;
  float: left;
}
#toriya9,#toriya10,#toriya11,#toriya12,#toriya13,#toriya14,#toriya15,#toriya16 {
  width: 70px;
  height: 70px;
  margin: 30px;
  float: left;
}
.vacan {
  background-color: gray;
}
.fill {
  background-color: red;
}
#overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  display: none;
  z-index: 1;
}
.imanomu_modal, .status_modal {
  position: fixed;
  display: none;
  z-index: 2;
  top: 50%;
  left: 50%;
  width: 50%;
  transform: translate(-50%, -50%);
  background-color: rgb(210, 243, 238);
  height: 500px;
  padding: 3em;
  border: solid 5px white;
  border-radius: 10px;
  overflow-y: auto;
  max-height: 90%;
}
// shops_index
.shop_box {
  width: 100%;
  margin-bottom: 50px;
  border-top-style: solid;
  border-top-color: #f25713;
  background-color: #fff;
  box-shadow: 0 0 4px 0 rgba(0,0,0,.2);
  padding: 20px;
}
.shop_name {
  color: orange;
  font-size: 23px;
}
.detail {
  margin: 0;
  font-size: 10px;
}
.detail span {
  display: inline-block;
  color: rgb(175, 175, 175);
}
.shop_vacan {
  margin: 0 auto;
  background: #a3ff91; /*背景色*/
  padding: 0.5em;/*文字周りの余白*/
  color: white;/*文字を白に*/
  border-radius: 0.5em;/*角の丸み*/
  text-align: center;
}
.shop_middle {
  margin: 0 auto;
  background: #fdd18f; /*背景色*/
  padding: 0.5em;/*文字周りの余白*/
  color: white;/*文字を白に*/
  border-radius: 0.5em;/*角の丸み*/
  text-align: center;
}
.shop_fill {
  margin: 0 auto;
  background: #ff5858; /*背景色*/
  padding: 0.5em;/*文字周りの余白*/
  color: white;/*文字を白に*/
  border-radius: 0.5em;/*角の丸み*/
  text-align: center;
}